<%- include('layout/header') %>
    <div class="container">
        <h1 class="mt-5 mb-5">Este es tu token de sesion:</h1>
        <p style="width: 400px;
        height: auto;
        word-wrap: break-word;"><b>
                <%= token %>
            </b></p>
    </div>
    <%- include('layout/footer') %>